@use "../../scss/" as *;

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-bottom: 3rem;

  @include tablet {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  &__loadmore {
    text-align: center;
  }
}

.movie-search {
  position: relative;
  width: 100%;
  max-width: 500px;

  input {
    width: 100%;
    padding-right: 8rem;
  }

  button {
    position: absolute;
    right: 0;
    top: 2px;

    @include mobile {
      right: 1px;
      top: 1px;
    }
  }
}

.movie-features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;

  @include mobile {
    flex-direction: column;
    justify-content: flex-start;
    align-items: end;
  }
}

.movie-filter select {
  padding: 4px 4px;
  // color: $white;
  background-color: $main-color;
  border-radius: $border-radius;
  padding: 0.25rem 0.5rem;
  line-height: 1.1;
  font-size: 1rem;
  font-weight: 600;
  box-shadow: 0px 0px 7px 8px #ff00004d;
  transition: box-shadow 0.3s ease;
  border: 2px solid transparent;

  @include mobile {
    margin-top: 1.5rem;
  }
}
